.mainPageEl{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPageInfoEl{
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.myInfoEl{
    font-size: 1.5em;
    margin: 1em;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.myInfoEl:hover{
    transform: translateY(5px);
}
