.formEl{
    margin-bottom: 2em;
}

#inputEl{
    font-size: 2em;
    background-color: rgba(0, 0, 0, .1);
    padding: 10px 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    margin-top: 2em;
    max-width: 290px;
    transition: all 200ms ease-in-out;
    outline: none;
}

#inputEl:hover{
    max-width: 400px;
}

#inputEl::placeholder{
    text-align: center;
    color: #999;
}


.fa-search{
    font-size: 3em;
}

#btnEl{
    outline: none;
    transform: translateY(4px);
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 0px 20px 20px 0px;
}

