@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body{
    background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
}

.App{
    max-width: 960px;
    margin: 3em auto 0;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}